<div class="disk-detail">
    <h1>{{titulo}}</h1>
    <img class="img-tapa" src={{disco.tapa}} />
    <p class="card-text">Artista: {{disco.artista}}</p>
    <p class="title-artista">Titulo: {{disco.titulo}}</p>
</div>
<div class="description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime quas accusamus est iure laudantium ab laborum, ipsum officia fugit architecto totam assumenda sit aperiam a iste quod aliquam quasi.
    Facilis beatae unde voluptates eius. Minus dolorum veniam dignissimos aliquam ipsum voluptatibus sint est nobis molestias. Provident ipsam vero autem dolorem nisi voluptatibus aut non adipisci numquam dolores, 
    Dignissimos exercitationem quia ex labore inventore magnam nostrum molestiae aperiam voluptas atque aut sunt id asperiores iste aliquid deleniti deserunt aspernatur vitae, repellendus voluptatem explicabo 
    Maxime tempore saepe omnis culpa distinctio, corporis provident, eveniet quibusdam dolore ipsa soluta non cupiditate perferendis cum est excepturi qui, ad similique pariatur quae nihil. Sapiente rerum pariatur expedita. Omnis.</p>
</div>