<div class="contenedor header">
    <h1>Discografía</h1>
    <h2>{{labelInput}}</h2>
    <p>Artista</p>
    <input type="text" id="inputArtista" name="artista" placeholder="Artista">
    <p>Titulo</p>
    <input type="text" id="inputTitulo" name="titulo" placeholder="Titulo">
    <p>Lanzamiento</p>
    <input type="text" id="lanzamiento" name="lanzamiento" placeholder="Año de lanzamiento">
    <input type="submit" id="btnBuscar"> </input>
</div>